.header {
  min-width: 320px;
  position: fixed;
}

.grid-header {
  height: 24px;
}

.logo,
.hamburger {
  transition: opacity 200ms ease-in-out;
}

.logo {
  height: 24px;
  width: 70px;

  color: #fff;

  transition: color 150ms ease, opacity 200ms ease-in-out;
}

.logo:hover,
.hamburger:hover {
  opacity: .5;
}

.js-logo-active {
  color: #fff!important;
}

.menu-container {
  height: 100vh;
  min-width: 320px;

  background-color: #121212;
  display: none;
}

.menu-item {
  opacity: 0;
  transform: scale(1.1) translateY(-24px);

  transition: opacity 350ms ease-out, transform 350ms ease-out, -webkit-transform 350ms ease-out;
}

.js-menu-item-active {
  opacity: 1;
  transform: none;
}

.menu-link {
  color: #fff;
}

.loader-container {
  height: 4px;
}

.loader {
  height: 4px;
  width: 175%;
  
  background-color: red;
  animation: load 3s cubic-bezier(.63,.01,.66,1.01) forwards;
}

@keyframes load {

  0% {
    transform: translateX(-125%);
  }

  100% {
    transform: translateX(125%);
  }

}