.pad-t-4 {
  padding-top: 5.2rem;
}

.pad-t-8 {
  padding-top: 10.4rem;
}

.pad-b-8 {
  padding-bottom: 10.4rem;
}

.push-4 {
  margin-bottom: 5.2rem;
}

@media only screen and (min-width: 46em) {

  .pad-t-4 {
    padding-top: 5.6rem;
  }

  .pad-t-8 {
    padding-top: 11.2rem;
  }

  .pad-b-8 {
    padding-bottom: 11.2rem;
  }

  .m-gutter {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .m-push-4,
  .push-4 {
    margin-bottom: 5.6rem;
  }

  .m-push-6 {
    margin-bottom: 8.4rem;
  }

  .m-push-8 {
    margin-bottom: 11.2rem;
  }

  .m-push-0 {
    margin-bottom: 0;
  }

}

@media only screen and (min-width: 67em) {

  .pad-t-4 {
    padding-top: 6rem;
  }

  .pad-t-8 {
    padding-top: 12rem;
  }

  .pad-b-8 {
    padding-bottom: 12rem;
  }

  .m-gutter {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .l-gutter-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .m-push-4,
  .push-4 {
    margin-bottom: 6rem;
  }

  .m-push-6 {
    margin-bottom: 9rem;
  }

  .m-push-8 {
    margin-bottom: 12rem;
  }

  .l-gutter-2 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

}