<!-- <header class="header absolute w-1 zindex-1000" role="banner">
  <div class="wrapper island">
    <div class="grid grid-middle grid-header zindex-1000 relative">
      <div class="unit s-1-2">
        <a class="icon logo" href="/">
          <span class="ib logo btn-focus" tabindex="-1">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#mcmillan" /></svg>
          </span>
        </a>
      </div>
      <div class="unit s-1-2 text-right">
        <button class="hamburger hamburger-slider icon i-24" type="button" id="toggle-menu" tabindex="0">
            <span class="icon i-24 btn-focus" tabindex="-1">
              <span class="hamburger-inner"></span>
            </span>
        </button>
      </div>
    </div>

    <div class="menu-container pin-tl pin-br zindex-1">
      <div class="wrapper gutter">
        <nav class="nav pad-t-4 ib right" id="navigation">
          <ul class="list-group text-right peta">
            <li class="push-1-4"><a class="btn btn-link ib" href="{{site.baseurl}}/dyonisius">Dyonisius</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header> -->

<header class="header absolute w-1 zindex-1000" role="banner">
  <div class="wrapper island">
    <div class="grid grid-middle grid-header zindex-1000 relative">
      <div class="unit s-1-2">
        <a class="icon logo" href="/">
          <span class="ib logo btn-focus" tabindex="-1">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#mcmillan" /></svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</header>

